@import url(https://fonts.googleapis.com/css?family=Rubik:400,700);

body {
  font-family: 'Rubik', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#user {
  position: absolute;
  top: 10px;
  left: 10px;
}
#user.staff {
  background-color: #6f5499;
}

#back {
  position: relative;
  top: 10px;
}
#back::before {
  font-weight: bold;
  content: '\2190\00a0';
}

#big-logo {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#big-text {
  position: absolute;
  top: 10%;
  left: 10%;
  max-width: 80%;
  background: rgba(255, 255, 255, .75);
  padding: 1em;
  border-radius: 1em;
}
#big-text :first-child { margin-top: 0; }
#big-text :last-child { margin-bottom: 0; }
#big-text img, #big-text video { max-width: 100%; }

h1 span.glyphicon,
h2 span.glyphicon,
h3 span.glyphicon {
  font-size: 85%;
}

h1 small .label,
h2 small .label,
h3 small .label {
  position: relative;
  top: -0.2em;
}

.label.disabled {
  color: rgba(119, 119, 119, .25);
  background-color: unset;
}

.alert > :first-child {
  margin-top: 0;
}

#error:empty {
  display: none;
}

#error::before {
  font-weight: bold;
  content: 'Error: ';
}

textarea {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.btn-group[data-toggle='buttons'] .btn-link {
  border-radius: 4px;
}
.btn-group[data-toggle='buttons'] .btn-link:hover {
  text-decoration: none;
}
.btn-group[data-toggle='buttons'] .btn-link.active {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.tile.panel .panel-body {
  padding: 10px;
}
.tile h4 {
  margin: 0;
  white-space: pre-line;
}

.ping.faded {
  opacity: 0.1;
  transition: opacity 20s ease-out 5s;
  -webkit-transition: opacity 20s ease-out 5s;
}

.faded {
  opacity: 0.33;
}

.diff {
  background: none;
  border: none;
  margin: 0;
  padding: 10px 0 0 0;
  line-height: .9;
  overflow: inherit;
}
.diff .diff-part:not(.diff-added) {
  -webkit-filter: grayscale(1);
  opacity: .6;
}
.diff .diff-added {
  line-height: 1.1;
  background: rgba(252, 248, 227, .7);
}

.diff .diff-removed + .diff-added {
}


/** CSS for total diff visualization */
.span-added {
  background: rgba(63, 196, 70, 0.4);
  line-height: 1.1;
}

.span-removed {
  color: rgba(0, 0, 0, 0.5);
}

.span-removed:not(.span-removed-common-prefix) {
  text-decoration: line-through;
}

.span-removed:not(.span-original) {
  background: rgba(220, 145, 141, 0.2);
  line-height: 1.1;
}

.span-original {
  color: rgba(0, 0, 0, 0.5);
  line-height: 0.9;
}


/* Highlight regex matches in yellow */
.diff .diff-regex {
  background: rgba(249, 224, 34, 1);
}

/* Only show code that is part of final code in the normal div.
Do this by hiding all removed code */
.div-normal .span-removed {
  background: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
}

/* Only show deleted code in the deleted div.
Do this by hiding all normal code. */
.div-deleted :not(.span-removed) {
  background: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
}


/** Controls boxes styling */
.controls {
  position: fixed;
  top: 1em;
  right: 2em;
  border: 1px solid blue;
  width: 15%;
  z-index: 1000;
  background: white;
}

#controls-total-diff {
  border: 5px solid yellow;
}

/* syntax highlighting with Eclipse colors */
.hljs,
.hljs-subst { color: #333; }
.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name { color: rgb(127,0,85); }
.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition { color: #2C6F2C; }
.hljs-literal { color: #4D974D; }
.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo { color: #BC6060; }
.hljs-type,
.hljs-string,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion { color: rgb(41,0,255); }
.hljs-title,
.hljs-section { color: #333; }
.hljs-comment { color: rgb(63,127,95); }
.hljs-meta { color: rgb(100,100,100); }
.hljs-emphasis { font-style: italic; }
.hljs-strong { font-weight: bold; }
