@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#user {
  position: absolute;
  top: 10px;
  right: 10px;
}
#user.staff {
  background-color: #f0ad4e;
}

#big-logo {
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 100%;
  max-width: 100%;
}
#big-text {
  position: absolute;
  bottom: 10%;
  right: 10%;
  background: rgba(255, 255, 255, .75);
  padding: 1em;
  border-radius: 1em;
}
#big-text :first-child { margin-top: 0; }
#big-text :last-child { margin-bottom: 0; }

h1 span.glyphicon,
h2 span.glyphicon,
h3 span.glyphicon {
  font-size: 75%;
}

.alert > :first-child {
  margin-top: 0;
}

#error:empty {
  display: none;
}

#error::before {
  font-weight: bold;
  content: 'Error: ';
}

textarea {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}
