extends layout

block content
  .row
    .col-xs-12
      h2= name
      textarea.form-control(rows=20)#text
      br
      .alert.alert-warning.pull-right
        button#chatter.btn.btn-warning chatter
  script.
    var shareURL = !{JSON.stringify(shareURL)};
    var collabid = !{JSON.stringify(collabid)};
    var filename = !{JSON.stringify(name)};
  script(src='/static/share/text.js')
  script(src='/static/share/share.uncompressed.js')
  script(src='/static/share.js')
  script.
    socket.onopen = function() {
      var doc = connection.get('collab_' + collabid, filename);
      doc.subscribe();
      doc.whenReady(function() {
        if ( ! doc.type) { throw new Error('missing document'); }
        doc.attachTextarea(document.getElementById('text'));
        
        var ctx = doc.createContext();
        document.getElementById('chatter').onclick = function() {
          setInterval(function() {
            ctx.insert(0, Math.random().toString(36).charAt(2));
          }, 200);
        };
      });
    };
