extends layout

append head
  title Find a Partner - Constellation
  script(src='/static/join.js')

block content
  .row: .col-xs-12
    h2 Find a partner
    h3 Collaborating on: #{project}
  
  .row: .col-xs-12
    h3 Where are you sitting?
      small  please click on your seat
    div(style='position:relative;')
      img(src='/static/34-101.jpg', style='width:100%;')
      canvas#map(style='position:absolute;left:0;top:0;width:100%;height:100%;')
  
  .row: .col-xs-10.col-sm-8.col-md-6.col-lg-4
    form#join
      .form-group
        h3 My joincode: #[span.text-danger= joincode.join(' ')]
      .form-group
        .input-group
          input#partner.form-control.input-lg(type='text', disabled=true, placeholder="Enter your partner's joincode")
          span.input-group-btn
            button.btn.btn-danger.btn-lg Join
    h3#status.text-primary
  
  script.
    rendezvous(!{JSON.stringify(joincode.join(' '))}, $('#join'), $('#partner'), $('#status'));
  
  script.
    var project = !{JSON.stringify(project)};

    var cursorcolor = '#f006';
    var selectedcolor = '#f009';
    var shadecolor = '#0007';
    var cursorheight = 0.15; // % of image height

    var bounds = { // [minX, minY, maxX, maxY] as percentages
      A: [0.06, 0.07, 0.3, 0.475],
      B: [0.3, 0.07, 0.5, 0.475],
      C: [0.5, 0.07, 0.7, 0.475],
      D: [0.7, 0.07, 0.93, 0.475],
      E: [0, 0.475, 0.26, 0.945],
      F: [0.26, 0.475, 0.74, 0.945],
      G: [0.74, 0.475, 1, 0.945]
    };

    var selectionXY = undefined; // [x, y]
    var selectionsection = undefined; // A-G

    function getSection(canvas, event) {
      var x = event.offsetX, y = event.offsetY, w = canvas.width, h = canvas.height;
      for (var section in bounds) {
        var bds = bounds[section];
        if (x >= w * bds[0] && x <= w * bds[2]
            && y >= h * bds[1] && y <= h * bds[3]) {
          return section;
        }
      }
    }

    function render(canvas, event) {
      canvas.width = $(canvas).width();
      canvas.height = $(canvas).height();
      var radius = cursorheight * canvas.height / 2;

      var ctx = canvas.getContext('2d');
      ctx.clearRect(0, 0, canvas.width, canvas.height);

      var section = (event ? getSection(canvas, event) : undefined) || selectionsection;
      if (section) { // highlight section
        ctx.fillStyle = shadecolor;
        ctx.fillRect(0, 0, canvas.width, canvas.height);
        var bds = bounds[section];
        var x = bds[0] * canvas.width, y = bds[1] * canvas.height,
            w = bds[2] * canvas.width - x, h = bds[3] * canvas.height - y;
        ctx.clearRect(x, y, w, h);
      }

      if (selectionXY) { // render selection
        ctx.fillStyle = selectedcolor;
        ctx.beginPath();
        ctx.arc(selectionXY[0], selectionXY[1], radius, 0, 2 * Math.PI);
        ctx.fill();
        ctx.strokeStyle = selectedcolor;
        var bds = bounds[selectionsection];
        var x = bds[0] * canvas.width, y = bds[1] * canvas.height,
            w = bds[2] * canvas.width - x, h = bds[3] * canvas.height - y;
        ctx.rect(x, y, w, h);
        ctx.stroke();
      }

      if (event) { // render cursor
        ctx.fillStyle = cursorcolor;
        ctx.beginPath();
        ctx.arc(event.offsetX, event.offsetY, radius, 0, 2 * Math.PI);
        ctx.fill();
      }
    }

    $('#map').mousemove(function onMapHover(e) {
      render(this, e);
    });

    $('#map').mouseleave(function onMapLeave() {
      render(this, undefined);
    });

    $('#map').click(function onMapClick(e) {
      var section = getSection(this, e);

      if (section == undefined) return;

      var joincodebox = document.getElementById('partner');
      joincodebox.disabled = false;
      joincodebox.focus();

      selectionXY = [e.offsetX, e.offsetY];
      selectionsection = section;
      render(this, e);

      // store section
      $.ajax({
        url: 'https://docs.google.com/forms/d/e/1FAIpQLSdBEl59ru77C2PoILS16xWyO3H0-R5Yx0GO8D28W4j5s3EOHg/formResponse?'
          + $.param({
            'entry.1593350312': project,
            'entry.1454600059': authusername,
            'entry.1297934788': section,
          }),
      });

      // store x, y percentages
      $.ajax({
        url: 'https://docs.google.com/forms/d/e/1FAIpQLScLz39qCGPieVGGTGY-YtTCSlZ67EwQV9ZrMmPlZvvOAKz8cg/formResponse?'
          + $.param({
            'entry.655474232': project,
            'entry.752688410': authusername,
            'entry.748084504': '' + (e.offsetX / this.width),
            'entry.564356247': '' + (e.offsetY / this.height)
          }),
      });
    });

