extends layout

append head
  title Replay #{project} - Constellation

block content

  script.
    var shareURL = !{JSON.stringify(shareURL)};
    var project = !{JSON.stringify(project)};
  script(src='/public/sharedb.js')
  script(src='//web.mit.edu/lu16j/www/6.031-staff/replay.js')
