extends layout

append head
  title Replay #{project} - Constellation

block content

  .row: .col-xs-12
    button#getOps.btn.btn-secondary.col-xs-4(disabled='true') Get Ops File
    span#status.col-xs-4 Loading new collab IDs...
  .row: .col-xs-12
    label.col-xs-3 Ops File
    input#opsFile.col-xs-5(type='file')
  .row: .col-xs-12
    label.col-xs-3 Target Project Name
    input#targetProject.col-xs-5(type='text')
  .row: .col-xs-12
    label.col-xs-3 Start Timestamp
    input#startTimestamp.col-xs-5(type='text')
  .row: .col-xs-12
    button#startReplay.btn.btn-success.col-xs-4(disabled='true') Start Replay
    button#stopReplay.btn.btn-info.col-xs-4(disabled='true') Stop Replay

  script.
    var shareURL = !{JSON.stringify(shareURL)};
    var project = !{JSON.stringify(project)};
  script(src='/public/sharedb.js')
  script(src='/static/dashboard/replay.js')
