extends layout

append head
  title Setup - Constellation

block content
  .row: .col-xs-12
    h2 Setup
    .alert.alert-success.col-sm-offset-2.col-sm-8
      h3 Working so far...
      p Please close this browser window and return to Eclipse.
