extends ../layout

append head
  title #{project} Collaborations - Constellation

block content
  .row: .col-xs-12
    a#back(href=`/dashboard/`) all projects
    h2 #{project} collaborations
      br
      |  #[small #[span.label.label-success current] collabs]

  .row: .col-xs-12: .form-horizontal
    .form-group
      label.col-xs-2.col-sm-1.control-label Search
      .col-xs-8.col-sm-6
        input#search.form-control(type='text')
      .col-xs-2.col-sm-1
        small#matches
      .col-xs-6.col-sm-2: label.radio.control-label
        input#condensed(type='checkbox')
        | Condensed view
      .col-xs-6.col-sm-2: label.radio.control-label
        input#autoscroll(type='checkbox')
        | Scroll to edits
  
  #collabs.row
  
  #dupes-header.row.faded.hidden: .col-xs-12: h3 No longer active
  
  #dupes.row.faded
  
  #mismatch-header.row.hidden: .col-xs-12: h3 Collaboration not found
  
  #mismatch.row
  
  template#collab
    .collab.disconnected.col-xs-12.col-sm-6.col-md-4: .tile.panel.panel-default: .panel-body
      h4: a
      span.typing-icon.glyphicon.glyphicon-option-horizontal
      | &nbsp;
      span.error-icon.glyphicon.glyphicon-exclamation-sign
      .code
      .images

  template#file
    .file
      h5.filepath
      pre.diff: code.java
  
  script.
    var shareURL = !{JSON.stringify(shareURL)};
    var project = !{JSON.stringify(project)};
    var cutoff = undefined;
    var milestone = undefined;
  script(src='/public/sharedb.js')
  script(src='/public/moment.js')
  script(src='/public/diff.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js')
  script(src='/static/queryparams.js')
  script(src='/static/dashboard/collabs.js')
  script(src='/static/dashboard/live.js')
