extends ../layout

append head
  title #{project} Collaborations - Constellation

block content
  .row: .col-xs-12
    a#back(href=`/dashboard/`) all projects
    h2 #{project} collaborations
      br
      |  #[small #[span.label.label-success current] collabs]

  .row: .col-xs-12: .form-horizontal
    .form-group
      label.col-xs-2.control-label Search
      .col-xs-8
        input#search.form-control(type='text')
      .col-xs-2
        small#matches
  
  #collabs.row
  
  #dupes-header.row.faded.hidden: .col-xs-12: h3 No longer active
  
  #dupes.row.faded
  
  #mismatch-header.row.hidden: .col-xs-12: h3 Collaboration not found
  
  #mismatch.row
  
  template#collab
    .collab.disconnected.col-xs-6.col-sm-3.col-md-2: .tile.panel.panel-default: .panel-body
      h4: a
      span.typing-icon.glyphicon.glyphicon-option-horizontal
      | &nbsp;
      span.error-icon.glyphicon.glyphicon-exclamation-sign
  
  script.
    var shareURL = !{JSON.stringify(shareURL)};
    var project = !{JSON.stringify(project)};
  script(src='/public/sharedb.js')
  script(src='/public/moment.js')
  script(src='/static/dashboard/live.js')

  style.
    .disconnected .panel {
      background: lightgray;
    }
    .disconnected a {
      color: gray;
    }
    .match .panel {
      background: lightgreen;
    }
    .error-icon {
      opacity: 0;
    }
    .error .error-icon {
      color: #a94442;
      opacity: 1;
    }
    .warning .error-icon {
      color: #faebcc;
      opacity: 1;
    }
    .typing-icon {
      color: lightgray;
      opacity: 0;
    }
    .typing .typing-icon {
      opacity: 1;
    }
