module.exports = {
  staff: [ ... ],
  lab: {
    individual: /^ps/,
    Mon: [ 19, 20, 21 ],
    Tue: [ 19, 20, 21 ],
    Wed: [ 19, 20, 21 ],
  },
  oidc: {
    server: 'https://oidc.example.com',
    client: {
      client_id: 'constellation',
      client_secret: ...,
      redirect_uris: [ 'https://constellation.example.com/auth' ],
    },
    emailDomain: 'example.com',
  },
  web: {
    https: 443,
    wss: 444,
    secret: ...,
  },
  mongodb: 'mongodb://localhost:27017/constellation',
};
