module.exports = {
  staff: [ ... ],
  web: {
    https: 443,
    wss: 444,
    certDomain: 'MIT.EDU',
    secret: ...,
  },
  map: {
    file: '/path/to/image/file',
    bounds: {
      sectionName: { minX: ..., minY: ..., maxX: ..., maxY: ... },
      ...
    }
  },
  mongodb: 'mongodb://localhost:27017/constellation',
};
