module.exports = {
  staff: [ ... ],
  web: {
    https: 4443,
    wss: 4444,
    httpUpdateSite: 8080,
    certDomain: 'MIT.EDU',
    userFakery: true,
    secret: ...,
  },
  mongodb: 'mongodb://localhost:27017/eclipseonut-development',
};
