<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.status">
         <toolbar
               id="eclipseonut.statusbar"
               label="Eclipseonut">
            <command
                  commandId="eclipseonut.command.collaborate"
                  icon="icons/collab-stopped.png"
                  label="%command.collaborate.none"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Collaborate with Eclipseonut"
            id="eclipseonut.command.collaborate"
            name="Collaborate">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="eclipseonut.command.collaborate"
            icon="icons/collab-started.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eclipseonut.CollaborateCmdHandler"
            commandId="eclipseonut.command.collaborate">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.team.ui.TeamPreferences"
            class="eclipseonut.prefs.PreferencePage"
            id="eclipseonut.prefs.page"
            name="Eclipseonut">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eclipseonut.prefs.Preferences">
      </initializer>
   </extension>
</plugin>
