<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.status">
         <toolbar
               id="constellation.statusbar"
               label="Constellation">
            <command
                  commandId="constellation.command.collaborate"
                  icon="icons/collab-stopped.png"
                  label="%command.collaborate.none"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Collaborate with Constellation"
            id="constellation.command.collaborate"
            name="Collaborate">
      </command>
      <command
            id="constellation.command.setup"
            name="Set up Constellation">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="constellation.command.collaborate"
            icon="icons/collab-started.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="constellation.CollaborateCmdHandler"
            commandId="constellation.command.collaborate">
      </handler>
      <handler
            class="constellation.SetupCmdHandler"
            commandId="constellation.command.setup">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.team.ui.TeamPreferences"
            class="constellation.prefs.PreferencePage"
            id="constellation.prefs.page"
            name="Constellation">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="constellation.prefs.Preferences">
      </initializer>
   </extension>
</plugin>
