{
  "aws_access_key": "...",
  "aws_secret_key": "...",
  "aws_source_ami": "ami-...",
  "aws_instance_type": "m3.medium",
  
  "openstack_auth_url": "https://HOSTNAME:5001/v2.0",
  "openstack_username": "...",
  "openstack_password": "...",
  "openstack_tenant": "PROJECT_NAME",
  "openstack_region": "REGION_NAME",
  "openstack_source_image": "IMAGE_ID",
  "openstack_flavor": "FLAVOR_ID",
  "openstack_secgroup": "SECGROUP_NAME",
  
  "deploy_openstack_flavor": "FLAVOR_ID",
  "deploy_openstack_key": "KEY_NAME",
  
  "app": "constellation"
}
